.container {
  margin-bottom: 16px;
  padding-top: calc(var(--header-height) + 32px);
  
  .form {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;

    .formChild {
      margin-bottom: 6px;
      background-color: white;
    }
  }
}

.btn--submit {
  border-radius: 10px;
  background-color: var(--primary-color);
  padding: 16px 0;
  margin-top: 20px;
  text-transform: none;
  font-family: inherit;
  font-size: 16px;

  &:hover {
    background-color: #00c194;
  }
}
