.headerContainer {
  display: flex;
  justify-content: space-between;

  .buttonContainer {
    display: flex;
    // flex-direction: row;
    margin: 0 8px 0 8px;
    flex: 1;
  }

  .headerBtn {
    justify-content: left;
    text-transform: "none";
    padding: "30px 15px"; // Thêm padding cho nút
    font-size: "16px";
    border-radius: "0";
    color: "white";
    height: "86px"; // Đặt chiều cao cố định cho nút
    &:hover {
      color: "#50f5dc";
      border-bottom: "3px solid #50ffe4";
      transition: "none";
    }
  }
}
